:root {
    --color-onlyfans: #4285f4;
    --color-onlyfans-rgb: 66, 133, 244;
    --color-twitch: #9146ff;
    --color-twitch-rgb: 145, 70, 255;
    --color-linkedin: #0a66c2;
    --color-linkedin-rgb: 10, 102, 194;
    --color-github: #333;
    --color-github: #525252;
    --color-github-rgb: 51, 51, 51;
    --color-discord: #7289da;
    --color-discord-rgb: 114, 137, 218;
    --color-instagram: #c13584;
    --color-instagram-rgb: 193, 53, 132;

    --link-color: #525252;
    --border-link: #525252;

}

.dark {
    --link-color: #666666;
    --color-github: #333;
    --border-link: #666666;
}

.link-carrousel {
    position: relative;
    transition: transform 0.3s, filter 0.3s;
    border-color: var(--border-link);
    color: var(--link-color);
    background-color: white;
}

.link-carrousel:hover {
    transform: translateY(-0.8rem);
}

.link-carrousel::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.8rem;
    background: transparent;
}

#onlyfans:hover {
    color: var(--color-onlyfans);
    border-color: var(--color-onlyfans);
    filter: drop-shadow(0 0.15rem 0 rgba(var(--color-onlyfans-rgb), 1)) drop-shadow(0 0.2rem 0 rgba(var(--color-onlyfans-rgb), 0.3)) drop-shadow(0 0.4rem 0 rgba(var(--color-onlyfans-rgb), 0.2)) drop-shadow(0 0.6rem 0 rgba(var(--color-onlyfans-rgb), 0.1))
}

#twitch:hover {
    color: var(--color-twitch);
    border-color: var(--color-twitch);
    filter: drop-shadow(0 0.15rem 0 rgba(var(--color-twitch-rgb), 1)) drop-shadow(0 0.2rem 0 rgba(var(--color-twitch-rgb), 0.3)) drop-shadow(0 0.4rem 0 rgba(var(--color-twitch-rgb), 0.2)) drop-shadow(0 0.6rem 0 rgba(var(--color-twitch-rgb), 0.1))
}

#linkedin:hover {
    color: var(--color-linkedin);
    border-color: var(--color-linkedin);
    filter: drop-shadow(0 0.15rem 0 rgba(var(--color-linkedin-rgb), 1)) drop-shadow(0 0.2rem 0 rgba(var(--color-linkedin-rgb), 0.3)) drop-shadow(0 0.4rem 0 rgba(var(--color-linkedin-rgb), 0.2)) drop-shadow(0 0.6rem 0 rgba(var(--color-linkedin-rgb), 0.1))
}

#github:hover {
    color: var(--color-github);
    border-color: var(--color-github);
    filter: drop-shadow(0 0.15rem 0 rgba(var(--color-github-rgb), 1)) drop-shadow(0 0.2rem 0 rgba(var(--color-github-rgb), 0.3)) drop-shadow(0 0.4rem 0 rgba(var(--color-github-rgb), 0.2)) drop-shadow(0 0.6rem 0 rgba(var(--color-github-rgb), 0.1))
}

#discord:hover {
    color: var(--color-discord);
    border-color: var(--color-discord);
    filter: drop-shadow(0 0.15rem 0 rgba(var(--color-discord-rgb), 1)) drop-shadow(0 0.2rem 0 rgba(var(--color-discord-rgb), 0.3)) drop-shadow(0 0.4rem 0 rgba(var(--color-discord-rgb), 0.2)) drop-shadow(0 0.6rem 0 rgba(var(--color-discord-rgb), 0.1))
}

#instagram:hover {
    color: var(--color-instagram);
    border-color: var(--color-instagram);
    filter: drop-shadow(0 0.15rem 0 rgba(var(--color-instagram-rgb), 1)) drop-shadow(0 0.2rem 0 rgba(var(--color-instagram-rgb), 0.3)) drop-shadow(0 0.4rem 0 rgba(var(--color-instagram-rgb), 0.2)) drop-shadow(0 0.6rem 0 rgba(var(--color-instagram-rgb), 0.1))
}

.shadow-glow:hover {
    box-shadow: 0 0 15px 5px rgba(249, 48, 91, 0.7);
}

.email-message {
    position: relative;
}

.send-email::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.5px;
    background-color: #f9305b;
    animation: progress-bar 9s linear forwards;
}

@keyframes progress-bar {
    100% {
        width: 0;
    }
}