.env
.env.*
!.env.example
!**/.env.example
*.local
*.log
node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
waha-data
**/waha-data
.turbo
tmp

.sentryclirc
**/.sentryclirc
.env.sentry-build-plugin
**/.env.sentry-build-plugin

packages/*/index.js
packages/*/index.js.map
