@import "../../theme/colors.css";

#navbar{
    z-index: 1000;
}

.underline-active:after, .underline-hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-top: 5px;
    width: 20px;
    height: 1.5px;
    border-radius: 35px;
    background-color: var(--primary-color); /* Azul */
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
}

.underline-active:after {
    transform: translateX(-50%) scaleX(1);
}

.underline-hover:hover:after {
    transform: translateX(-50%) scaleX(1);
}

.active-navicon {
    color: #ffffff;
    background-color: #2f3031;
}

.desactive-navicon {
    color: #4b5563;
}

.desactive-navicon:hover {
    color: #ffffff;
    background-color: #2f3031;
}