@import "../theme/colors.css";

.welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-out, opacity 1s ease-out;
    z-index: 1000;
    opacity: 1;
}

.welcome-container.hide {
    animation: container-slide-down 0.5s forwards;
}

.emoji {
    font-size: 5rem;
    animation: emoji-animation 1.5s infinite, emoji-fade-out 0.5s 1s forwards;
}

@keyframes emoji-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(20deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }

    55% { transform: rotate(5deg); }
    56% { transform: rotate(4deg); }
    57% { transform: rotate(3deg); }
    58% { transform: rotate(2deg); }
    59% { transform: rotate(1deg); }

    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

@keyframes emoji-fade-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0); }
}

/*
@keyframes container-fade-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.25); }
}
*/

@keyframes container-slide-down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
