@import "./theme/colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb-color: #444;
  --scrollbar-track-color: #222;

  --scroll-stylized-color: #262626;
}

[data-theme="light"] {
  --scrollbar-thumb-color: #ccc;
  --scrollbar-track-color: #eee;

  --scroll-stylized-color: #e5e7eb;
}

* {
  font-family: "Lato", sans-serif;
}

.h-110 {
  height: 35rem;
}

.w-110 {
  width: 35rem;
}

@keyframes blink {
  0%, 100% { opacity: 10; }
  50% { opacity: 0; }
}

.cursor {
  animation: blink 1s infinite;
}

.meu-botao {
  position: relative;
  margin-top: 327px;
  border-color: var(--primary-color);
  border-width: 2px;
  border-radius: 100px;
  width: fit-content;
  backdrop-filter: blur(5px);
  transition: all ease .2s;
  flex-shrink: 0;
  padding: 1;
  padding-right: 2;
  
  transform: translateY(-9.4rem) translateX(3.15rem) scale(1.2);
}

.meu-botao::before{
  content: "";
  position: absolute;
  top: 45%;
  left: -55px;
  width: 55px;
  height: 70px;
  margin-left: -2px;
  border: 2px solid var(--primary-color);
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 50px;
}

#root {
  background-color: var(--background-color);
}

#footer {
  bottom: 0;
}

/* These styles are used in the timeline component */
.scroll-stylized {
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-stylized::-webkit-scrollbar {
  width: 3px;
  height: 5.5px;
  border-radius: 5px; 
} 

.scroll-stylized::-webkit-scrollbar-thumb{
  background-color: var(--scroll-stylized-color);
  border-radius: 5px;
}
/* */

/* These styles are used in the default page scroll and in the terminal */
.default-scroll::-webkit-scrollbar {
  width: 12px;
}

.default-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

.default-scroll::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
/* */

#navbar-color {
  background-color: var(--navbar-color);
}

#footer-color {
  background-color: #1A242D;
}

.carousel-slide {
  transition: all 1s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.carousel-slide.active {
  opacity: 1;
  pointer-events: auto;
}
