@import "./theme/colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bgBase: 39deg 85% 95%;
    --color-content: 0deg 0% 20%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bgBase: 240deg 27% 18%;
      --color-content: 210deg 14% 53%;
    }
  }
  
  :root[data-theme="dark"] {
    --color-bgBase: 240deg 27% 18%;
    --color-content: 210deg 14% 53%;
  }

  :root[data-theme="light"] {
    --color-bgBase: 39deg 85% 95%;
    --color-content: 0deg 0% 20%;
  }
}


* {
  font-family: "Lato", sans-serif;
}

.h-110 {
  height: 35rem;
}

.w-110 {
  width: 35rem;
}

@keyframes blink {
  0%, 100% { opacity: 10; }
  50% { opacity: 0; }
}

.cursor {
  animation: blink 1s infinite;
}

.meu-botao {
  position: relative;
  margin-top: 327px;
  border-color: var(--primary-color);
  border-width: 2px;
  border-radius: 100px;
  width: fit-content;
  backdrop-filter: blur(5px);
  transition: all ease .2s;
  flex-shrink: 0;
  padding: 1;
  padding-right: 2;
  
  transform: translateY(-9.4rem) translateX(3.15rem) scale(1.2);
}

.meu-botao::before{
  content: "";
  position: absolute;
  top: 45%;
  left: -55px;
  width: 55px;
  height: 70px;
  margin-left: -2px;
  border: 2px solid var(--primary-color);
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 50px;
}

#root {
  background-color: var(--background-color);
}

#footer {
  bottom: 0;
}

.scroll-stylized {
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-stylized::-webkit-scrollbar {
  width: 3px;
  height: 5.5px;
  border-radius: 5px; 
} 

.scroll-stylized::-webkit-scrollbar-thumb{
  background-color: #e5e7eb;
  border-radius: 5px;
}

#navbar-color {
  background-color: var(--navbar-color);
}

#footer-color {
  background-color: #1A242D;
}

.carousel-slide {
  transition: all 1s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.carousel-slide.active {
  opacity: 1;
  pointer-events: auto;
}
